<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>APPIcon</string>
	<key>SUFeedURL</key>
	<string>https://AidenYang1.github.io/barTimer/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>BjMADZgHUM3mIZPcAh00bhN0pBD3548COGKhyuW45SQ=</string>
</dict>
</plist>


